body.dark {
  background-image: url('background2.jpg');
  background-repeat: repeat-x;
  background-color: #a45633;
  /* background-size: 100%; */
  color: #eee;

}
.header-text {
  text-align: right;
  font-size: 0.8rem;
  /* text-transform: uppercase; */
}
.header-text a,
.header-text a:hover {
  color: #000;
  text-decoration: none;
}
.dark h1 a,
.dark h1 a:hover {
  color: #fff;
}
h7 {
  display: block;
}
.left-col input[type="number"]{
  height: 25px;
}

.bar {
  display: inline-block;

  background-image: url('background.jpg');
  background-position: bottom right;
  background-repeat: repeat-x;
  background-color: #a45633;

  color: #fff;
  padding: 0 0 0 2px;
  font-weight: bold;
  width: 0px;
}
.bar_legend {
  display: inline-block;
  margin-left: 5px;
}
.dice .row:nth-child(6) .bar {
  background-color: #969696;
  background-image: none;
}
.sel {
  color: #ff0000;
  font-weight: bold;
}

.sel_town {
  background-color: #ddd;
  font-weight: bold;
}
.dark .sel_town {
  background-color: #666;
}
.sel_city {
  background-color: #bbb;
  font-weight: bold;
}
.dark .sel_city {
  background-color: #999;
}

.com.sheep .col-1 {  background-color: #d79e31;}
.com.rock .col-1 {  background-color: #008ba9;}
.com.wood .col-1 {  background-color: #458d32;}
.com.robber .col-1 {  background-color: #000;}

input[type="number"] {
  width: 50px;
}
.dice .col-1 {
  text-align: right;
}

.images {
  border-left: 1px solid #ddd;
}
.robber_indic {
  padding: 0 10px;
  display: inline-block;
}
.dark .images {
  border: 0;
  border-color: #000;
}
.images .list_images {
  position: relative;
  /* background-color: #000;
  padding: 3px; */
}
.list_images .img {
  display: inline-block;
  position: relative;
  border: 2px solid #000;
  /* border-top: 2px solid #000;
  border-right: 2px solid #000; */
  padding: 1px;
  /* cursor: pointer; */
}
.dark .list_images .img {
  /* border: 0; */
  border-color: #000;
}
.list_images > .img:nth-of-type(1) {
  border: 2px solid #ff0000;
}
.list_images .img .num {
  /* position: relative;
  display: inline-block;
  left: -110px;
  top: 5px;
  width: 100px;
  height: 100px; */
  position: absolute;
  letter-spacing: -0.2em;
  font-size: 34px;
  font-weight: bold;
  top: 0;
  left: 0;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.list_images .img .buts {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
.list_images .img:hover .buts {
  display: block;
}
.list_images .img .buts button {
  cursor: pointer;
}
/* to avoid a bug: deleting after a miss-click problem) */
.list_images > .img:nth-of-type(1) .buts button.but-delete {
  display: none;
}
/* no more used */
.color, .number {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px #000;
}
.number {
  /* background-color: #ccc; */
  border-left: 1px solid #666
}
